{% extends "magasinwcs/base.html"%}

{% block bodyid %}add_commande{% endblock %}

{% block content %}
<h1 id="entete">COMMANDES</h1>

    <form id="update_form" class="d-flex flex-column " action="{% url 'add-panier' %}" method="POST">
        {% csrf_token %}
        <div id="update_form" class="d-flex flex-column " style="width: 50%;">
            <label class="form-label" for="date">DATE:
                <input class="form-control mb-2" type="date" id="date" name="date" required>
            </label>         
            <label class="form-label" for="materiel">MATERIEL:
                <select class="form-select" id="materiel" name="materiel_pk" required >
                    <option value="-1" selected>-------</option>
                    {% for materiel in materiels %}
                        <option value="{{ materiel.pk }}"> {{ materiel.nom }}  |  {{ materiel.description }}  |  {{ materiel.id }}</option>
                    {% endfor %}
                </select>
            </label>

            <label class="form-label" for="quantite">QUANTITE:
                <input class="form-control mb-2" type="number" min="0" id="quantite" name="quantite" required>
            </label>

            <label class="form-label" for="fournisseur">FOURNISSEUR:
                <select class="form-select mb-2" name="fournisseur" id="fournisseur" >
                    <option value="-1">-------</option>
                    {% for fournisseur in fournisseurs %}
                        <option value="{{ fournisseur.pk }}">{{ fournisseur.nom }}  |  {{ fournisseur.reference }}</option>
                    {% endfor %}
                </select>
            </label>
            <input type=hidden value='commande' name='commande' >
        <button class="btn btn-success mt-4">Ajouter</button>
        </div>
     </form>

     <p class='mt-5'>Panier des commandes:</p>

        <table class="table table-striped table-hover mt-2">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Materiel</th>
                    <th scope="col" class='text-center' >Quantite</th>
                    <th scope="col">Fournisseur</th>
                    <th scope="col" class='choix text-center'>SUPPRIMER</th>
                </tr>
            </thead>
            <tbody>
                {% for panier in paniers %}
                        {% csrf_token %}

                        <tr>
                            <td>{{ panier.date }}</td>
                            <td>{{ panier.materiel.nom }}  |  {{ panier.materiel.description }}  |  {{ panier.materiel.id }}</td>
                            <td class='text-center'>{{ panier.quantite }}</td>
                            <td>{{ panier.fournisseur.nom}}  |  {{ panier.fournisseur.reference}}</td>
                            <td class=' choix text-center'>
                                <form action="{% url 'delete-panier' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{ panier.pk }}" name="panier_pk">
                                    <button hx-post="{% url 'delete-panier' %}" hx-target = "closest tr"
                                            hx-trigger = "click" hx-swap = "outerHtml" hx-push-url="false"
                                            hx-confirm="Supprimer l'élément?" class="btn btn-danger">-</button>
                                </form>
                            </td>
                        </tr>
                {% endfor %}
                </tbody>
        </table>
    <form class='mt-2' action={% url 'add-commande'%} method='POST'>
        {% csrf_token %}
        <input type='hidden' value='v_cmd' name='v_cmd'> 
        <button class='btn btn-success'>Valider-commandes</button>
    </form>
{% endblock %}

