{% extends "magasinwcs/base.html"%}

{% block bodyid %}gestion_materiel{% endblock %}

{% block content %}

    <h1 id="entete">PERSONNEL</h1>

    <!-- Fonction -->

    <div class="row" style="height: 60%;">
        <div class="col-4 " style="height: 75%;">
            <p class="sous-titre">FONCTIONS:</p>
            <div id="fonctions" class="list-group flex-column overflow-auto" style="height:100%;">
                
                {% for fonction in fonctions %}
                    <form class="list-group" method="POST"  action="{% url 'gestion_employe' %}">
                        {% csrf_token %}
                        <input type='hidden' value="{{ fonction.pk }}" name="fonction">
                        <button class="list-group-item {% if fonction.pk == glob.pk %}active{% endif %} text-start z-0">{{ fonction.nom }}</button>
                    </form>
                {% endfor %}
            </div>


            <form method="POST" action="{% url 'add-fonction' %}" class="d-flex gap-3 mt-3 mb-3">
                {% csrf_token %}
                <label>
                    <input type="text"  class="form-control" name="fonction-nom" placeholder="Fonction..." required="required">
                </label>
                <button type="submit" class="btn btn-success" >Ajouter</button>
            </form>
        </div>



        <!-- Employe -->

        <div class="col ms-5 ps-5 border-start" style="height: 100%;">
            <p class="sous-titre text-center ">Ajouter du personnel</p>
            <form method="POST" action="{% url 'add-employe' %}" class="d-flex flex-column text-end ">
                {% csrf_token %}
                <label>
                    <select class="form-select mb-2" name="fonction" id="fonction" required>
                        <option value=""  hidden>Fonction...</option>
                        {% for fonction in fonctions %}
                            {% if fonction.nom != '.Global' %}
                            <option value="{{ fonction.pk }}">{{ fonction.nom }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </label>                      
                <label>
                    <input type="text" class="form-control mt-3" name="employe-nom" placeholder="Nom...">
                </label>
                 <label>
                     <input class="form-control mt-3" name="employe-prenom" placeholder="Prenom...">
                </label>
                    <input type="hidden" id="add_e" name="fonction_pk" value="{{ glob.pk }}">

                <button type="submit" class="btn btn-success mt-3 ">Ajouter</button>

            </form>
        </div>
    </div>

    <form onsubmit="confirm('Supprimer la fonction?')" action="{% url 'delete-fonction' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" id="del_fonc" name="fonction_pk" value="{{ glob.pk }}">
        <button type='submit' hx-post = "{% url 'delete-fonction' %}" hx-target = "closest body" hx-trigger = "click" 
                         hx-swap = "outerHtml" hx-push-url="false" hx-confirm="Supprimer l'élément?" class="btn btn-danger mt-3"
                          value='Supprimer-Fonction'>Supprimer-Fonction</button>
    </form>

    <p class="mt-5">Liste du personnel: <span>{% for employe in employes %} {% if forloop.last %} {{forloop.counter}} &nbsp;Eléments {% endif %} {% endfor %} </span></span></p>
    <div id="employes">
          {% include "magasinwcs/liste_employe.html" with employes=employes %}
    </div>

    {% if emp %}
        <script>
            alert('Personne ajouté avec succès!');
        </script>
    {% endif %}
{% endblock %}
