{% extends "magasinwcs/base.html"%}

{% block bodyid %}gestion_client{% endblock %}

{% block content %}
    <h1 id="entete">CLIENTS</h1>
    <form class="d-flex flex-row justify-content-center mb-5" action="{% url 'add-client' %}" method="POST">
    <fieldset >Ajouter un client:</fieldset>
        {% csrf_token %}
        <label class="mx-4">
            <input class="form-control mx-4" type="text" name="ref" placeholder="Id..." required>
        </label>        
        <label class="mx-4">
            <input class="form-control mx-4" type="text" name="nom" placeholder="Nom..." required>
        </label>
        <label class="mx-4">
            <input type="text" class="form-control" name="contact" placeholder="Conctact...">
        </label>
        <button class="btn btn-success" type="submit">Ajouter</button>
    </form>

    <p>Liste des clients:<span>{% for client in clients %} {% if forloop.last %} {{forloop.counter}} &nbsp;Eléments {% endif %} {% endfor %} </span></span></p>
    <div id="clients">
        {% include 'magasinwcs/liste_client.html' with clients=clients %}
    </div>
{% endblock %}