{% if not administrateurplus %}
    <table class="table table-striped table-hover text-center">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">NOM</th>
            <th scope="col">Prenom</th>
            <th scope="col">Fonction</th>
            <th scope="col">Admin</th>
            <th scope="col">SUPPRIMER</th>
        </tr>
    </thead>
    <tbody id="administrateurplus">
        {% for administrateur in administrateurs %}
                {% csrf_token %}

                <tr>
                    <td>{{ administrateur.employe.id }}</td>
                    <td>{{ administrateur.employe.nom }}</td>
                    <td>{{ administrateur.employe.prenom }}</td>
                    <td>{{ administrateur.employe.fonction.nom }}</td>
                    <td>
                        <form action="{% url 'type-change' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" value="{{ administrateur.pk }}" name="administrateur_pk">
                            <input type="hidden" value="{{ user.id }}" name="user_id">
                            <label>
                                <select class="form-select" name="type" hx-post="{% url 'type-change' %}" hx-trigger="change" {% if admin.type == 'n' %}disabled{% endif %}>
                                    <option value="s"
                                            {% if administrateur.type == 's' %}selected{% endif %}> Super-admin</option>
                                    {% if administrateur.employe != admin.employe or administrateur.type == "n"%}
                                        <option value="n" {% if administrateur.type == 'n' %}selected{% endif %}>Normal</option>
                                    {% endif %}
                                </select>
                            </label>
                        </form>

                    </td>
                    <td>
                        <form action="{% url 'delete-administrateur' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="administrateur_pk" value="{{ administrateur.pk }}">
                            <button {% if admin.type == 'n' %}disabled{% endif %} class="btn btn-danger"
                                    hx-post="{% url 'delete-administrateur' %}" hx-target="closest tr" hx-swap="outerHTML" hx-confirm="Voulez vous supprimer cet élément" >-</button>
                        </form>
                    </td>
                 </tr>
        {% endfor %}
        </tbody>
</table>
{% endif %}

{% if administrateurplus %}
     <tr>
        <td>{{ administrateurplus.employe.id }}</td>
        <td>{{ administrateurplus.employe.nom }}</td>
        <td>{{ administrateurplus.employe.prenom }}</td>
        <td>{{ administrateurplus.employe.fonction.nom }}</td>
        <td>
            <form action="{% url 'type-change' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" value="{{ administrateurplus.pk }}" name="administrateur_pk">
                <input type="hidden" value="{{ user.id }}" name="user_id">
                <label>
                    <select class="form-select" name="type" hx-post="{% url 'type-change' %}" hx-trigger="change" {% if admin.type == 'n' %}disabled{% endif %}>
                        <option value="s"
                                {% if administrateurplus.type == 's' %}selected{% endif %}> Super-admin</option>
                        {% if administrateurplus.employe != admin.employe or administrateurplus.type == "n"%}
                            <option value="n" {% if administrateur.type == 'n' %}selected{% endif %}>Normal</option>
                        {% endif %}
                    </select>
                </label>
            </form>
        </td>
        <td>
            <form action="{% url 'delete-administrateur' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="administrateur_pk" value="{{ administrateurplus.pk }}">
                <button {% if admin.type == 'n' %}disabled{% endif %} class="btn btn-danger" onsubmit="valider()">-</button>
            </form>
        </td>
     </tr>
{% endif %}